*.iml
.gradle
/local.properties
/.idea/caches
/.idea
.DS_Store
/build
app/build

/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.ap_

*.dex

*.class

bin/
gen/


Thumbs.db


.idea

.navigation
captures/
output.json

obj/
.externalNativeBuild